<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<header>
    <section class="header-top-bar">

        <div class="left-section">
            <div class="header-logo">
                <a th:href="@{/}">SplashScore</a>
            </div>
        </div>

        <div class="header-navigation">
            <nav class="navigation-container">
                <ul class="nav-list">
<!--                    <li><a href="#">Leaderboard</a></li>-->
<!--                    <li><a href="#">About us</a></li>-->
                    <li><a th:href="@{/admin-panel}">Admin Panel</a></li>
                    <li><a th:href="@{/users/profile}">Profile</a></li>

                    <li>
                        <div class="dropdown">
                            <button class="settings-icon" id="settings-button">
                                ⚙️ <!-- Replace with an actual icon -->
                            </button>
                            <div class="dropdown-menu" id="dropdown-menu">
                                <a href="#">Profile</a>
                                <a href="#">Theme</a>
                                <a href="#">Language</a>
                                <a href="#">Sign out</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </section>
</header>
</body>
</html>