
/* Form container styling */
.form-container {
    width: 100%;
    max-width: 500px; /* Increase from 400px to 500px */
    padding: 2.5rem; /* Slightly increase padding */
    background: #fff;
    border-radius: 12px; /* Slightly more rounded corners */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Deeper shadow for a lifted effect */
    text-align: center;
    margin-top: 1.2em;
}


.input-field label {
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-left: 4px;
    color: #333;
}


/* Input field styles */
.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

.input-field input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styles */
.input-field.button {
    text-align: center;
}

.input-field.button button {
    width: 100%;
    padding: 0.75rem;
    background: white;
    color: black;
    /*border: none;*/
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 15px;
}

.input-field.button button:hover {
    background: lightgray;
    color: black;
}
form {
    margin: 2em;
}

.title {
    font-weight: bold;
    font-size: 24px;
}


.checkbox-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.forgot-password   {
    color: #070707;
    font-size: smaller;
}

.checkbox-content{
    display: flex;
    align-items: center;
    gap: 3px;
}
.remember-me {
    font-size: 14px;
}


.input-field input,
.input-field.button button {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

/*.login-signup {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 5px;*/
/*}*/
.login-signup span.text {
    color: grey;
}
.signup-link {
    color: #070707;
    text-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding-left: 5px;
    font-size: 15px;
}


.alert-warning {
    font-family: 'Poppins', sans-serif;
    font-weight: 250;
    font-size: 12px;
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #f88e8e, #f56767, #f54b3b);
    background-size: 200%;
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



