.nz {
    border: 1px solid #F1F1F1;
    max-width: 450px;
    margin: 20px auto;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
}

.teams-table-sidebar {
    padding: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.club {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    text-transform: uppercase;
    border-bottom: #F1f1f1;
}

.teams-table-sidebar section {
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    /*border-bottom: 1px solid #ccc;*/
}

.left a {
    font-weight: bold;
    font-size: 12px;
}

.right ul {
    display: flex;
    gap: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.right ul li {
    /*font-weight: bold;*/
    color: #ABABAB;
    font-size: 12px;
}

.club-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.club-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    /*border-bottom: 1px solid #ccc;*/
    row-gap: 5px;
    background: #F5F5F5;
    border-radius: 15px;
}

.club-container li:last-child {
    border-bottom: none;
}

.club-container li div {
    display: flex;
    gap: 10px;
}

.stats{
    font-size: 10px;
    font-weight: normal;
}

.club-container li a {
    text-align: center;
    color: #333;
    text-decoration: none;
}

.club-container li a:first-child {
    text-align: left;
    font-weight: bold;
}

.club-container li:hover   {
     background: lightgray;

}