<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-panel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header-with-nav.css}">


    <style>
        /* Adjust Delete button */
        .btn-delete {
            text-decoration: none; /* Remove underline */
            color: #d9534f;
            font-weight: bold;
            transition: color 0.2s ease-in-out;
            font-size: 1.6rem;
        }

        .btn-delete:hover {
            color: #c9302c; /* Darker red on hover */
        }

    </style>
    <title>SplashScore</title>
</head>
<body>
<header th:replace="~{fragments/commons::section}"></header>

<main>
    <div class="bigger-container">
        <aside class="container" id="left-sidebar">
            <div class="sidebar">
<!--                <a >-->
<!--                    <span class="material-symbols-outlined">dashboard</span>-->
<!--                    <h3>Dashboard</h3>-->
<!--                </a>-->

                <a href="javascript:void(0);" onclick="showDiv('users')" data-section="users" id="users-link">
                    <span class="material-symbols-outlined">person</span>
                    <h3>Users</h3>
                </a>

                <a href="javascript:void(0);" onclick="showDiv('players')" id="players-link">
                    <span class="material-symbols-outlined">groups</span>
                    <h3>Players</h3>
                </a>

                <a  href="javascript:void(0);" onclick="showDiv('matches')" id="matches-link">
                    <span class="material-symbols-outlined">stadium</span>
                    <h3>Matches</h3>
                </a>

                <a href="javascript:void(0);" onclick="showDiv('referees')" id="referees-link">
                    <span class="material-symbols-outlined">sports</span>
                    <h3>Referees</h3>
                </a>

                <a href="javascript:void(0);" onclick="showDiv('clubs')"  id="clubs-link">
                    <span class="material-symbols-outlined">diversity_2</span>
                    <h3>Clubs</h3>
                </a>

                <a th:href="@{logout}">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
    </div>

    <div id="users" class="content-section active">
        <div class="content-section-header">
            <div class="header-left">
                <div class="header-left-title">Registered Users</div>

            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Current Role</th>
                        <th>Created on</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user : ${users}">
                        <!--                        <th th:text="${#strings.isEmpty(user.profilePictureUrl) ? 'https://www.istockphoto.com/vector/profile-picture-vector-illustration-gm587805156-100912283-100912283' : user.profilePictureUrl}">ddvdv</th>-->
                        <th th:text="${user.username}">admin</th>
                        <th th:text="${user.email}">admin@gmail.com</th>
                        <th th:text="${user.role}">User</th>
                        <th th:text="${#temporals.format(user.createdOn, 'dd-MM-yyyy HH:mm')}">17.03.19</th>
                        <th>
                            <form th:action="@{'/users/' + ${user.id} + '/role'}" th:method="PUT" style="display: inline;">
                                <button type="submit" class="btn-delete" style="border: none; background: none; padding: 0; cursor: pointer;">
                                    <span class="material-symbols-outlined" th:style="${user.role == T(com.splashScore.waterpolo_app.user.model.UserRole).ADMIN} ? 'color: red' : 'color: green'">autorenew</span>
                                </button>
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="players" class="content-section">
        <div class="content-section-header">
            <div class="header-left">
                <div class="header-left-title">Players</div>
            </div>

            <div class="header-right">
                <button th:if="${clubs.size() > 0}"><a th:href="@{/admin-panel/players/new}">Add Player</a></button>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Club</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="player : ${players}">
                    <th th:text="${player.fullName}">Nikola Antoniev</th>
                    <th th:text="${player.age}">17</th>
                    <th th:text="${player.club.name}">ChernoMore-Ticha</th>
                    <th th:text="${player.status}"
                        th:style="${player.status == T(com.splashScore.waterpolo_app.player.model.Status).ACTIVE} ? 'color: green' : 'color: red'">
                    </th>

                    <th>
                        <form th:action="@{'/players/' + ${player.id} + '/status'}" th:method="PUT" style="display: inline;">
                            <button type="submit" class="btn-delete" style="border: none; background: none; padding: 0; cursor: pointer;">
                                <span class="material-symbols-outlined" th:style="${player.status == T(com.splashScore.waterpolo_app.player.model.Status).ACTIVE} ? 'color: red' : 'color: green'">autorenew</span>
                            </button>
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="clubs" class="content-section">
        <div class="content-section-header">
            <div class="header-left">
                <div class="header-left-title">Clubs</div>
            </div>

            <div class="header-right">
                <button><a th:href="@{/admin-panel/clubs/new}">Add Club</a></button>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Squad</th>
                        <th>Town</th>
                        <th>Country</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="club : ${clubs}">
                        <th th:text="${club.name}"></th>
                        <th th:text="${club.squad.size()}"></th>
                        <th th:text="${club.town}"></th>
                        <th th:text="${club.country}">0</th>
                        <th>
                            <form th:action="@{'/clubs/' + ${club.id} + '/confirm-deletion'}" method="get" style="display: inline;">
                                <button type="submit" class="btn-delete" style="border: none; background: none; padding: 0; cursor: pointer;">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="matches" class="content-section">
        <div class="content-section-header">
            <div class="header-left">
                <div class="header-left-title">Matches</div>
            </div>

            <div class="header-right">
                <button><a th:href="@{/admin-panel/matches/new}">Add Match</a></button>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="match : ${matches}">
                    <th th:text="${match.homeTeam.name}">Nikola Antoniev</th>
                    <th th:text="${match.awayTeam.name}">17</th>
                    <th th:text="${#temporals.format(match.date, 'dd-MM-yyyy HH:mm')}">ChernoMore-Ticha</th>
                    <th th:text="${match.status}"></th>

                    <th>
                        <form style="display: inline;">
                            <button type="submit" class="btn-delete" style="border: none; background: none; padding: 0; cursor: pointer;">
<!--                                <span class="material-symbols-outlined" th:style="${player.status == T(com.splashScore.waterpolo_app.player.model.Status).ACTIVE} ? 'color: red' : 'color: green'">autorenew</span>-->
                            </button>
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="referees" class="content-section">
        <div class="content-section-header">
            <div class="header-left">
                <div class="header-left-title">Referees</div>
            </div>

            <div class="header-right">
                <button><a th:href="@{/admin-panel/referees/new}">Add Referee</a></button>
            </div>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Matches</th>
                    <th>Country</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="referee : ${referees}">
                        <th th:text="${referee.fullName}"></th>
                        <th th:text="${referee.refereeAttendance}"></th>
                        <th th:text="${referee.country}"></th>
                        <th th:text="${referee.status}"
                            th:style="${referee.status == T(com.splashScore.waterpolo_app.referee.model.Status).ACTIVE} ? 'color: green' : 'color: red'">
                        </th>
                        <th>
                            <form th:action="@{'/referees/' + ${referee.id} + '/status'}" th:method="PUT" style="display: inline;">
                                <button type="submit" class="btn-delete" style="border: none; background: none; padding: 0; cursor: pointer;">
                                    <span class="material-symbols-outlined" th:style="${referee.status == T(com.splashScore.waterpolo_app.referee.model.Status).ACTIVE} ? 'color: red' : 'color: green'">autorenew</span>
                                </button>
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<script src="/js/admin-panel.js"></script>
<script src="/js/header-setting-icon-dropdown.js"></script>
</body>
</html>