<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SplashScore</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header-with-nav.css}">
    <script src="../static/js/header-setting-icon-dropdown.js"></script>
</head>
<body>
    <header th:replace="~{fragments/commons::section}"></header>

    <main>
        <div class="filler-container"></div>

        <div class="centered-container">
            <section class="center-index">
                <nav class="date-navigation">
                    <div class="date-picker">
                        <a><img src="../static/images/left-arrow.png"></a>
                        <button>Today</button>
                        <a>></a>
                    </div>
                </nav>
            </section>



            <section class="date-matches-home">
                <ul class="match-list">
                    <li class="match-info-container">
                        <div class="team-container">
                            <div class="team home-team">
                                <a></a>
                                <span class="team-name">ЧерноМоре-Тича</span>
                            </div>
                            <span class="match-time">17:00</span>
                            <div class="team away-team">
                                <span class="team-name">TICHA</span>
                                <a></a>
                            </div>
                        </div>
                    </li>

                    <li class="match-info-container">
                        <div class="team-container">
                            <div class="team home-team">
                               <a></a><!--  <img src="img.png" alt="Home Team Logo" class="team-logo">-->
                                <span class="team-name">KPS</span>
                            </div>
                            <span class="match-time">17:00</span>
                            <div class="team away-team">
                                <span class="team-name">TICHA</span>
<!--                                <img src="img.png" alt="Away Team Logo" class="team-logo">-->
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>

        <div class="nz">
            <aside class="teams-table-sidebar">
                <div class="club">Clubs</div>

                <section>
                    <div class="left">
                        <a>#</a>
                    </div>
                    <div class="right">
                        <ul>
                            <li><a>PL</a></li>
                            <li><a>GD</a></li>
                            <li><a>PTS</a></li>
                        </ul>
                    </div>
                </section>

                <div class="club-container">
                    <ul>
                        <li>
                            <div>
                                <a>1</a>
                                <a>img</a>
                                <a>Liverpool</a>
                            </div>

                            <div class="stats">
                                <a>22</a>
                                <a>+33</a>
                                <a>53</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </aside>
        </div>


    </main>

    <footer>

    </footer>
</body>
</html>