<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SplashScore</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header-logo.css}">
    <script src="https://cdn.tailwindcss.com"></script>


</head>
<body>

<header th:replace="~{fragments/header-logo::header}"></header>


<main>
        <div class="form-container">
            <span class="title">Log in to your account</span>
            <form th:action="@{/login}" th:method="post" th:object="${loginRequest}">
                <div class="input-field">
                    <label for="username">Username</label>
                    <input th:field="*{username}" type="text" id="username" placeholder="Enter your username" required />

                 </div>

                <div class="input-field">
                    <label for="password">Password</label>
                    <input th:field="*{password}" type="password" id="password" class="password" placeholder="Enter your password" required />
                    <p class="alert-warning" th:if="${errorMessage}" th:text="${errorMessage}">fff</p>

                </div>

<!--                <div class="checkbox-text">-->
<!--                    <div class="checkbox-content">-->
<!--                        <input type="checkbox" id="logCheck" />-->
<!--                        <label for="logCheck" class="remember-me">Remember me</label>-->
<!--                    </div>-->
<!--                    <a href="#" class="forgot-password">Forgot password?</a>-->
<!--                </div>-->

                <div class="input-field button">
                    <button type="submit">Login</button>
                </div>
            </form>

            <div class="login-signup">
            <span class="text">Don't have an account?
                <a th:href="@{/register}" class="text signup-link">Create one</a>
            </span>
            </div>
        </div>
    </main>
<footer class="absolute bottom-5 w-full text-center text-gray-500 text-sm">
    <p>© 2025 Splash Score. All rights reserved.</p>
</footer>
</body>
</html>