<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SplashScore</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header-with-nav.css}">

</head>
<body>
<header th:replace="~{fragments/commons::section}"></header>

<div class="border-t border-gray-300 mt-2"></div>

<main>
        <section class="profile-section">
            <div class="profile-section-header">
                <h3>Details</h3>
            </div>


            <div class="profile-info">
                <div class="details-section-container">
                    <label><span class="material-symbols-outlined">person</span>Username:</label>
                    <p th:text="${user.username}">NikiggN</p>
                </div>

                <div class="details-section-container">
                    <label><span class="material-symbols-outlined">mail</span>Email:</label>
                    <p th:text="${user.email}">abv@mail.com</p>
                </div>

                <div class="details-section-container">
                    <label><span class="material-symbols-outlined">calendar_month</span>Joined:</label>
                    <p th:text="${#temporals.format(user.createdOn, 'dd-MM-yyyy')}">a34.24,23</p>
                </div>

                <div class="details-section-container">
                    <label><span class="material-symbols-outlined">support_agent</span>Role:</label>
                    <p th:text="${user.role.toString()}"></p>
                </div>
            </div>

        </section>

         <section>

         </section>
    </main>
<footer class="absolute bottom-5 text-gray-500 text-sm">
    <p>© 2025 Splash Score. All rights reserved.</p>
</footer>
</body>
</html>