<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="hhh.css">
</head>
<body>

<header>
    <section class="header-top-bar">
        <div class="left-section">
            <div class="header-logo">
                <a th:href="@{/static}">SplashScore</a>
            </div>
            <div class="search-container">
                <span class="search-icon"><img th:src="@{/images/search-icon.png}"></span>
                <input id="search-input" type="search" placeholder="Search">
            </div>
        </div>

        <div class="header-navigation">
            <nav class="navigation-container">
                <ul class="nav-list">
                    <li><a href="#">Leaderboard</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a th:href="@{/login}">Sign in</a></li>
                    <li><a href="#">Admin Panel</a></li>


                    <li>
                        <div class="dropdown">
                            <button class="settings-icon" id="settings-button">
                                ⚙️ <!-- Replace with an actual icon -->
                            </button>
                            <div class="dropdown-menu" id="dropdown-menu">
                                <a href="#">Profile</a>
                                <a href="#">Theme</a>
                                <a href="#">Language</a>
                                <a href="#">Sign out</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </section>
</header>

<main>
    <div class="filler-container"></div>

    <div class="centered-container">
        <section class="center-index">
            <nav class="date-navigation">
                <div class="date-picker">
                    <a><img src="../../static/images/left-arrow.png"></a>
                    <button>Today</button>
                    <a>></a>
                </div>
            </nav>
        </section>



        <section class="date-matches-home">
            <ul class="match-list">
                <li class="match-info-container">
                    <div class="team-container">
                        <div class="team home-team">
                            <a></a>
                            <span class="team-name">ЧерноМоре-Тича</span>
                        </div>
                        <span class="match-time">17:00</span>
                        <div class="team away-team">
                            <span class="team-name">TICHA</span>
                            <a></a>
                        </div>
                    </div>
                </li>

                <li class="match-info-container">
                    <div class="team-container">
                        <div class="team home-team">
                            <a></a><!--  <img src="img.png" alt="Home Team Logo" class="team-logo">-->
                            <span class="team-name">KPS</span>
                        </div>
                        <span class="match-time">17:00</span>
                        <div class="team away-team">
                            <span class="team-name">TICHA</span>
                            <!--                                <img src="img.png" alt="Away Team Logo" class="team-logo">-->
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <div class="nz">
        <aside class="teams-table-sidebar">

            <header class="teams-table-header">
                <div class="club">Clubs</div>
            </header>

            <div class="teams-table">
                <div class="teams-table-header">
                    <div class="left">
                        <a>#</a>
                    </div>
                    <div class="right">
                        <ul>
                            <li><a>PL</a></li>
                            <li><a>GD</a></li>
                            <li><a>PTS</a></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <a href="#" >
                        <div class="left">
                            <div class="place-on-the-leaderboard"></div>

                            <div>
                                <div class="club-logo"></div>
                                <div class="club-name"></div>
                            </div>
                        </div>

                        <div class="right">
                            <div class="played-matches"></div>
                            <div class="goal-difference"></div>
                            <div class="points"></div>
                        </div>
                    </a>
                </div>
            </div>

<!--            <section>-->
<!--                <div class="left">-->
<!--                    <a>#</a>-->
<!--                </div>-->
<!--                <div class="right">-->
<!--                    <ul>-->
<!--                        <li><a>PL</a></li>-->
<!--                        <li><a>GD</a></li>-->
<!--                        <li><a>PTS</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </section>-->

<!--            n -->
        </aside>
    </div>
</main>

<footer>

</footer>
</body>
</html>